.separator{
  background: #c8cad0;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0 0;
}

.dateline{
  font-size: min(5vw, 2em);
  font-style: italic;
  text-align: center;
  margin: 0 0;
  color: gray;
}

.address{
  font-size: 2em;
  text-align: center;
}

.heading{
  font-size: 2em;
  font-family: Verlag, sans-serif;
  font-weight: bold;
  margin: 0 0;
}

.heading_remove_bold{
  font-family: Verlag, sans-serif;
  font-weight: normal;
  margin: 0 0;

}

.heading_unbold{
  font-family: nobel, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  margin: 0 0;
}

.paragraph_unindent{
  font-size: 1.8em;
  font-family: 'Verlag', sans-serif;
  margin: 0 0em;
}

.paragraph_indent{
  font-family: nobel, sans-serif;
  font-weight: 30;
  font-style: normal;
  font-size: 1.8em;
  margin: 0 1em;
}

.hymn{
  font-size: 2em;
  font-family: Verlag, sans-serif;
  font-weight: bold;
  margin: 0 1em;
}

hr{
  height: 5px;
  background-color: black;
}

ul {
  font-family: Nobel, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.8em;
}
ul.leaders{
   max-width: 100%;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white}

.center-fit {
  width: 100%;
}

.notbold{
  font-weight: normal;
}
